.DS_Store
__pycache__
*.db
*.pytest_cache
*.zip
*.csv
*.txt
*.xlsx

get_path.py

# Byte-compiled / optimized / DLL files
# __pycache__/
# *.py[cod]
# *$py.class

# Installer logs
# pip-log.txt
# pip-delete-this-directory.txt

# Unit test / coverage reports
# htmlcov/
# .tox/
# .coverage
# .coverage.*
# .cache
# nosetests.xml
# coverage.xml
# *.cover
# .hypothesis/
# .pytest_cache/

# Django stuff:
# *.log
# local_settings.py
# db.sqlite3

# Flask stuff:
# instance/
# .webassets-cache

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
